.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.15s linear;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: rgba(14, 14, 16, 0.72);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252528;
    border: 1px solid rgba(161, 161, 170, 0.2);
    border-radius: 20px;
}
